{% extends 'blog/base.html' %}


{% block content %}
    <h1>Home Page</h1>
    <ul>
        {% for post in all_posts_list %}
            <li><a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a> - {{ post.author }} <br>
            {{ post.body| slice:100 }}...
                {% if user.is_authenticated %}
                     -<a href="{% url 'article_update' post.pk %}">Edit</a>
                        <a href="{% url 'article_remove' post.pk %}">Delete</a> </li>
                {% endif %}
        {% endfor %}
    </ul>

{% endblock %}